In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
!ls

In [ ]:
# Importing data
filename = 'challenge.json'
df = pd.read_json(filename)

In [ ]:
print(df.describe())
df.head()

# Question 1 - Use cases
```
1 - Can we predict the churn occurances in the dataset?
2 - What are the most profitable sellers per salles channel?
3 - What are the most profitable branches per salles channel?
4 - How do sales develop during the year?
```

# Question 2 - Build statistical models

Use-cases 2-4 would likely involve mainly visualization tasks, since it would involve enlightining the business side of how the business is going.

The use-case 1, on the other hand, would benefit very much from a statistical model, since churn prediction can help companies a lot, in order to avoid customers leaving and/or cancelling purchases. So the basic idea we are trying to answer is:

### Can we predict which orders will represent churns? If yes, with which accuracy?

The model we are

# Question 3 - Build statistical model

In [3]:
# Importing data
filename = 'challenge.json'
df = pd.read_json(filename)

In [4]:
print(df.describe())
df.head()

       branch_id  customer_code     group_code       is_churn      item_code  \
count   204428.0  204428.000000  204428.000000  202513.000000  204428.000000
mean         0.0     447.489062       0.307184       0.191168    1437.298981
std          0.0     246.678026       0.714639       0.393222     903.166319
min          0.0       0.000000       0.000000       0.000000       0.000000
25%          0.0     221.000000       0.000000       0.000000     631.000000
50%          0.0     486.000000       0.000000       0.000000    1455.000000
75%          0.0     651.000000       0.000000       0.000000    2048.000000
max          0.0     837.000000       3.000000       1.000000    2980.000000

       item_total_price       order_id       quantity  sales_channel  \
count     204428.000000  204428.000000  204428.000000  204428.000000
mean         304.048244   12434.088863      12.332694       1.761182
std         1009.268287    6935.623011      53.299314       2.929541
min            0.000000       0.000000       1.000000       0.000000
25%           79.600000    6497.750000       3.000000       0.000000
50%          156.150000   12698.000000       6.000000       0.000000
75%          293.862500   18280.000000      12.000000       2.000000
max       102951.110000   24617.000000    7000.000000     105.000000

        segment_code    seller_code    total_price     unit_price
count  204428.000000  204428.000000  204428.000000  204428.000000
mean        0.846381     145.543022    5337.072931      47.456664
std         1.615763      75.197609   21268.855032     145.295694
min         0.000000       0.000000       0.010000       0.010000
25%         0.000000      83.000000    1180.470000      14.670000
50%         0.000000     156.000000    2035.820000      21.780000
75%         2.000000     195.000000    3611.070000      46.720000
max         7.000000     289.000000  428976.460000   26280.000000

,branch_id,customer_code,group_code,is_churn,item_code,item_total_price,order_id,quantity,register_date,sales_channel,segment_code,seller_code,total_price,unit_price
0,0,143,0,0.0,854,292.91,21804,10,2017-11-10T00:00:00Z,0,0,190,1613.53,25.04
1,0,433,0,0.0,246,287.19,5486,20,2011-05-16T00:00:00Z,1,5,153,11163.69,12.33
2,0,486,0,0.0,1420,184.84,22662,12,2018-01-24T00:00:00Z,0,0,166,6432.12,12.80
3,0,107,0,0.0,1963,189.18,3956,18,2010-07-28T00:00:00Z,1,0,156,831.82,10.51
4,0,768,0,0.0,1786,66.87,4730,5,2010-12-17T00:00:00Z,1,0,218,1736.48,11.82

## 3.1 Visualization

In [6]:
df.columns

Index(['branch_id', 'customer_code', 'group_code', 'is_churn', 'item_code',
       'item_total_price', 'order_id', 'quantity', 'register_date',
       'sales_channel', 'segment_code', 'seller_code', 'total_price',
       'unit_price'],
      dtype='object')

In [7]:
print(df.branch_id.unique())
print(df.group_code.unique())

[0]
[0 2 1 3]

In [ ]:
plt.plot(df.register_date)
plt.show()